---
layout: default
---

<h1><%= podcasts_head_title(resource) %></h1>

<dl>
  <dt><%= t "publishers.single.title" %></dt>
  <% resource.relations.publisher.tap do |publisher| %>
    <dd><a href="<%= publisher.relative_url %>"><%= publisher.data.name %></a></dd>
  <% end %>

  <dt>Рік</dt>
  <% resource.relations.recordings.reduce(Set.new) { |memo, r| memo << r.data.date.year }.sort.tap do |years| %>
    <dd>
      <% if years.size > 1 %>
        <%= years.first %> – <%= years.last %>
      <% else %>
        <%= years.first %>
      <% end %>
    </dd>
  <% end %>

  <dt>Кількість випусків</dt>
  <dd><%= resource.relations.recordings.size %></dd>
</dl>

<dl>
  <dt>Де слухати</dt>
  <dd>
    <ul>
      <% resource.data.links_to_listen&.each do |link| %>
        <li><a href="<%= link %>"><%= pretty_host_name(link) %></a></li>
      <% end %>
    </ul>
  </dd>
</dl>

<%= yield %>

<% resource.relations.podcast_lists.presence&.tap do |lists| %>
  <h2>Списки</h2>

  <ul>
    <% lists.each do |list| %>
      <li>
        <a href="<%= list.relative_url %>"><%= list.data.title %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Випуски</h2>

<ul>
  <% resource.relations.recordings.each do |recording| %>
    <li>
      <a href="<%= recording.relative_url %>"><%= recording_numbered_title(recording) %></a>
    </li>
  <% end %>
</ul>
